:root {
    /*Global*/
    --white: #FFFFFF;
    --border-radius: 10px;

    /*Dark mode*/
    --background: #0B0B0E;
    --secondary-background: #111318;
    --surface-card-dark: #161B22;
    --border: #30363D;
    --primary-text: #FFFFFF;
    --secondary-text: #8B949E;
    --accent: #238636;
    --secondary-accent: #58A6FF;
    --box-shadow: 4px 4px 4px 0 rgba(87, 64, 64, 0.25);
    --logo-filter: none;

    /*Light mode*/

    body.light-mode {
        --background: #F2F2F2;
        --secondary-background: #E5E5E5;
        --border: #A8A8A8;
        --primary-text: #1A1A1A;
        --secondary-text: #555555;
        --accent: #22C55E;
        --secondary-accent: #1A4F8C;
        --logo-filter: invert(1);
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    a {
        color: var(--secondary-text);
    }
}

body {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    background: var(--background);
    transition: background 0.5s ease;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    color: var(--secondary-text);
    margin: auto;

}

/*Nav barre*/
nav {
    display: flex;
    align-items: center;
    background-color: var(--background);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    box-shadow: var(--box-shadow);
    height: 4.5rem;
    padding: 0 1rem;
}

.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 17.5rem;
}

#logo {
    width: 30px;
    height: 30px;
    filter: var(--logo-filter);
    transition: filter 0.3s ease;
}

.brand-name {
    display: flex;
    align-items: baseline;
    gap: 1.125rem;
}

#name {
    font-size: 25px;
    font-weight: 600;
    color: var(--primary-text);
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 2rem;
}

/*Switch button*/
.theme-toggle {
    position: relative;
    width: 70px;
    height: 35px;
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.4s ease, border-color 0.4s ease;
}

.theme-toggle.active {
    background: var(--accent);
    border-color: var(--accent);
}

.toggle-slider {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.45s cubic-bezier(.68, -0.55, .27, 1.55);
}

.theme-toggle.active .toggle-slider {
    transform: translateX(-35px);
}


.icon {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: opacity 0.3s ease,
    transform 0.4s ease;
}

.moon-icon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

.theme-toggle.active .moon-icon {
    opacity: 0;
    transform: rotate(180deg) scale(0);
}

.sun-icon {
    opacity: 0;
    transform: rotate(-180deg) scale(0);
}

.theme-toggle.active .sun-icon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

.theme-toggle:active .toggle-slider {
    transform: scale(0.9) translateX(0);
}

.theme-toggle.active:active .toggle-slider {
    transform: scale(0.9) translateX(-35px);
}

/*Hero section */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 4.5rem);
    margin: auto;
    width: 80%;
}

h1 {
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    width: 500px;
    overflow: hidden;
    color: var(--primary-text);
    margin: 0 0 2.9rem 0;
}

.relative {
    position: relative;
    display: flex;
    gap: 10px;
}

.cursor {
    width: 3px;
    height: 50px;
    background: #000;
    animation: curseur 1s ease infinite;
}

@keyframes curseur {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }

}

p {
    color: var(--primary-text);
}
.hero-text{
    margin-bottom: 1rem;
}


