* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    background: var(--background-color);
    transition: background 0.5s ease;
    overflow-x: hidden;
}

ul, ol{
    list-style: none;
}

a {
    color: var(--secondary-text);
    text-decoration: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}