h1, h2, h3 {
    font-family: var(--font-head);
    color: var(--primary-text);
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-black);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-black);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

p{
    color: var(--secondary-text);
    font-size: var(--fs-corps);
}
