:root {
    --background-color: #101012;
    --background-glow: #1a0e05;
    --background-glow-secondary: #301A0A;

    --surface-card: #18181c;
    --surface-input: #101012;

    --accent-orange: #FF9F43;
    --accent-dim: rgba(255, 159, 67, 0.12);
    --accent-mid: rgba(255, 159, 67, 0.35);

    --primary-text: #f0ece4;
    --secondary-text: #c4bfb7;
    --muted-text: #8a8680;

    --border: rgba(255, 159, 67, 0.18);


    --fs-h1: clamp(3rem, 6vw, 5.5rem);
    --fs-h2: clamp(2rem, 4vw, 3.2rem);
    --fs-h3: clamp(1rem, 2vw, 1.4rem);
    --fs-navbar-button: 0.75rem;
    --fs-section-tag: 0.65rem;
    --fs-corps: 0.95rem;
    --fs-label: 0.7rem;

    --fw-black: 900;
    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-regular: 400;

    --space-xs: 0.25rem;  /* 4px  - Petits ajustements */
    --space-sm: 0.5rem;   /* 8px  - Entre un label et son input */
    --space-md: 1rem;     /* 16px - Padding interne des cartes */
    --space-lg: 1.5rem;   /* 24px - Entre deux paragraphes */
    --space-xl: 3rem;     /* 48px - Entre les sections (Margin-bottom) */
    --space-2xl: 5rem;    /* 80px - Padding haut/bas des grandes sections */

    --card-radius: 12px;

    --font-head: 'Montserrat', sans-serif;
    --font-body: 'Poppins', sans-serif;
}