header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    color: var(--secondary-text);
    margin: auto;
    transition: transform 0.3s ease-in-out;
}

header.hidden {
    transform: translateY(-100%);
}
