.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 0 5%;
    position: relative;
    margin-bottom: 10rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: -50px auto 0 auto;
    width: 100%;
    max-width: 800px;
    opacity: 0;
}

.hero-buttons {
    margin-top: var(--space-md);
}

.hero-text {
    line-height: 2rem;
    margin: 2rem 0 0 0;
}

.hero-text p {
    color: var(--primary-text);
    font-weight: var(--fw-semibold);
}

.scroll-downs {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 34px;
    height: 55px;
    margin-left: -10px;
    opacity: 0;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid var(--secondary-text);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: var(--secondary-text);

}

/* --- Timeline section --- */
.experience {
    background-color: var(--background-color);
    width: 100%;
    margin-top: 12rem;
}

.timeline-container {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding-left: 60px;
}

.content-original {
    margin-bottom: 5rem;
}

/* La ligne verte (gauche)*/
.timeline-container::before {
    content: '';
    position: absolute;
    inset: 0 auto -18px 10px;
    width: 3px;
    background: var(--accent-color);
}

/* La ligne verte principale (droite) */
.timeline-container::after {
    content: '';
    position: absolute;
    inset: 0 auto -0.2px 40px;
    width: 3px;
    background: rgba(40, 167, 69, 0.2);
    z-index: 1;
}

.timeline-progress-bar {
    position: absolute;
    left: 40px;
    top: 0;
    width: 3px;
    height: 0;
    background: var(--accent-color);
    z-index: 2;
    transition: height 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.timeline-list {
    padding: 0;
    margin: 0;
}

.timeline-item {
    position: relative;
    padding-bottom: 100px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

.timeline-item.revealed {
    opacity: 1;
    transform: translateY(0);
}

/* Le point vert plein */
.timeline-dot {
    position: absolute;
    left: -26px;
    top: 6px;
    width: 14px;
    height: 14px;
    background-color: var(--accent-color);
    border-radius: 50%;
    z-index: 2;
}

/* Le point actuel (cercle vide) */
.timeline-item.current .timeline-dot {
    background-color: var(--background-color);
    border: 2px solid var(--accent-color);
    box-shadow: var(--box-shadow);
    left: -25.5px;
}


/* Ajout du cercle gris décoratif tout en bas */
.timeline-list::after {
    content: '';
    position: absolute;
    left: 31.5px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    background: var(--background-color);
}

/* --- Skills section --- */

.skills-section {
    padding: 12rem 5%;
    background-color: var(--background-color);
}

.skills-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 3.5rem;
    max-width: 1600px;
    margin: 0 auto;
}


.stack-card {
    background-color: var(--code-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.stack-header {
    background-color: var(--code-header);
    padding: 10px 15px;
    border-bottom: 1px solid var(--border-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    color: var(--code-text);
}

.stack-body {
    padding: 20px;
    font-family: 'Inter', sans-serif;
}


.stack-line {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.line-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.code-keyword {
    color: var(--code-keyword);
    font-weight: bold;
}

.code-operator {
    color: var(--code-operator);
}


.skill-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 30px;
    margin-top: 8px;
}

.tech-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.progress-container {
    flex-grow: 0.7;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    border-radius: 10px;
    transition: width 1.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}


.html-bar {
    background-color: var(--html-color);
    box-shadow: 0 0 10px var(--html-color);
    width: 80%;
}

.css-bar {
    background-color: var(--css-color);
    box-shadow: 0 0 10px var(--css-color);
    width: 80%;
}

.js-bar {
    background-color: var(--js-color);
    box-shadow: 0 0 10px var(--js-color);
    width: 60%;
}


.empty {
    background-color: rgba(255, 255, 255, 0.05);
}

.learning .tech-icon {
    filter: grayscale(100%);
    opacity: 0.5;
}